doctype html
html
    head
        meta(charset="utf-8")
        meta(http-equiv="X-UA-Compatible" content="IE=edge")
        meta(name="viewport" content="width=device-width, initial-scale=1")
        title= title || "AtriumScreen"

        link(href="/public/as/css/client.min.css" rel="stylesheet")
        each style in styles
            link(href=style rel="stylesheet")

        each script in headScripts
            if script.inline
                script.
                    !{script.src}
            else
                script(src=script.src)
    body

        .as-content!=content

        script.
            window.asData = !{clientData};
        script(src="//ajax.googleapis.com/ajax/libs/jquery/1.11.0/jquery.min.js")
        script(src="/socket.io/socket.io.js")
        script(src="/public/as/js/atriumscreen.js")

        each script in scripts
            if script.inline
                script.
                    !{script.src}
            else
                script(src=script.src)
